copytext==0.1.4
cssmin==0.2.0
dulwich==0.9.4
envoy==0.0.2
et-xmlfile==1.0.1
Fabric==1.4.3
Flask==0.9
GDAL==1.11.0
jdcal==1.4
Jinja2==2.6
MarkupSafe==1.0
nose==1.2.1
odict==1.6.2
openpyxl==1.8.5
Pillow==1.0
ply==3.4
pycrypto==2.6
python-dateutil==2.7.3
python-magic==0.4.15
requests==1.1.0
s3cmd==2.0.1
six==1.11.0
slimit==0.7.4
ssh==1.7.14
Werkzeug==0.8.3
xlrd==0.9.0
