{% extends '_base.html' %}

{% block extra_head_js %}
    {{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
{% endblock %}


{% block header_content %}
<header>
    <div class="header-wrap" data-spy="affix">
        <div class="main-hed">
            <h1>{{ PROJECT_NAME }}</h1>
            <div class="partners">
                <ul>
                    <li class="txt">In partnership:</li>
                    <li class="npr"><a href="http://www.npr.org">NPR</a></li>
                    <li class="radio-diaries"><a href="http://www.radiodiaries.org">Radio Diaries</a></li>
                </ul>
            </div>
        </div>

        <nav class="topnav">
            <ul class="nav">
                <li class="active"><a href="#intro">Introduction</a></li>
                {% for person in COPY.people %}
                <li><a href="#{{ person.name|lower }}">{{ person.name }}</a></li>
                {% endfor %}
                {% if COPY.content.cowbird_hed %}
                <li><a href="#cowbird-grid">{{ COPY.content.cowbird_hed }}</a></li>
                {% endif %}
                {% if COPY.content.notebook_hed %}
                <li><a href="#notebook">{{ COPY.content.notebook_hed }}</a></li>
                {% endif %}
                {% if COPY.content.project_credits %}
                <li><a href="#credits">Project Credits</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
{% endblock header_content %}


{% block wide_content %}
<div id="slides">
    <div class="container">
        <div class="slide" id="intro">
            <div class="row">
                <div class="span12">
                    {% if COPY.content.intro_text %}
                    <p>{{ COPY.content.intro_text }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% for person in COPY.people %}
        <div class="slide" id="{{ person.name|lower }}">
            <div class="row"{% if person.photo_now %} style="background-image: url('{{ person.photo_now }}');"{% endif %}>
                <div class="span4">

                    {% if person.name %}
                    <h2>{{ person.name }}</h2>
                    {% endif %}

                    {% if person.description %}
                    <p>{{ person.description }}</p>
                    {% endif %}

                    {% if person.audio_now_headline %}
                    <div class="audio primary">
                        <h3>{{ person.audio_now_headline }}</h3>
                        {% if person.audio_now_show %}
                        <p class="show">{{ person.audio_now_show }}</p>
                        {% endif %}
                        {% if person.audio_now_length %}
                        <p class="duration">{{ person.audio_now_length }}</p>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if person.audio_then_headline %}
                    <div class="audio secondary">
                        <h3>{{ person.audio_then_headline }}</h3>
                    </div>
                    {% endif %}

                    {% if person.audio_then2_headline %}
                    <div class="audio secondary">
                        <h3>{{ person.audio_then2_headline }}</h3>
                    </div>
                    {% endif %}
                </div>

                <div class="span4 offset3">
                    {% if person.photo_now_credit %}
                    <p>Photos: 
                        {{ person.photo_then_credit }};
                        {{ person.photo_now_credit }}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if COPY.content.cowbird_hed %}
        <div class="slide" id="cowbird-grid">
            <div class="row">
                <div class="span12">
                    <h2>{{ COPY.content.cowbird_hed }}</h2>
                    <p>{{ COPY.content.cowbird_description }}</p>
                    <div id='cowbird' data-key='5165bfa810ee6' data-constraints='collectionid=653' data-sort='custom' data-style='salon' data-summary='true' data-widget='stories'></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if COPY.content.notebook_hed %}
        <div class="slide" id="notebook">
            <div class="row">
                <div class="span12">
                    <h2>{{ COPY.content.notebook_hed }}</h2>
                    <p>{{ COPY.content.notebook_description }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% if COPY.content.project_credits %}
        <div class="slide" id="credits">
            <div class="row">
                <div class="span12">
                    <h2>{{ COPY.content.project_credits_hed }}</h2>
                    <p>{{ COPY.content.project_credits }}</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block extra_foot_js %}
    <script type='text/javascript' src='http://cdn1.cowbird.com/assets/js/embed/cb-embedded.js'></script>
{% endblock %}
